/*前端工程师 赖伟强*/
@charset "UTF-8";

body{margin: 0px!important;}
img{border: none;max-width: 100%;height: auto;background-size: cover;width: auto\9; /* ie8 */}
a{outline: none;text-decoration: none;}
.section { text-align: center; font: 16px "Microsoft Yahei";font-weight: 500; color: #fff;font-weight:100;}


.eleFadeIn{
    animation:fadeInUp 1s .2s ease both;
    -webkit-animation:fadeInUp 1s .2s ease both;
    -moz-animation:fadeInUp 1s .2s ease both;
    -ms-animation:fadeInUp 1s .2s ease both;
    -o-animation:fadeInUp 1s .2s ease both;
}
/*下方谈入*/
@keyframes fadeInUp{
0%{opacity:0;
transform:translateY(20px)}
100%{opacity:1;
transform:translateY(0)}
}
/*下方谈入*/